:root {
  /* default theme */
  --background: #f1f1f1;
  --foreground: #1f1f1f;
  --gray: #555;

  /* dark theme */
  --background-dark: #1f1f1f;
  --foreground-dark: #f1f1f1;
  --gray-dark: #999;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-y: scroll;
  scrollbar-width: thin;
}

html,
body,
#__next {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

[data-theme="dark"] body {
  color: var(--foreground-dark);
  background: var(--background-dark);
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}
